<!-- start custom footer snippets -->
<div class='edit-page-on-gitlab'>
    <a href="https://gitlab.com/banana-hackers/website/-/blob/master/{{page.path}}">Edit this Page</a>
</div>
<!-- end custom footer snippets -->